body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 100px;
    /* Ajuste de largura */
    height: 150px;
    /* Ajuste de altura */
}

th {
    background-color: #ffffff;
    font-size: 1.2em;
}

td img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

p {
    margin: 5px 0;
    font-size: 0.9em;
}

.horario {
    color: red;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

td {
    vertical-align: top;
    /* Mantém o texto alinhado ao topo das células */
}