@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
 
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
 
header nav {
    padding: 30px 0px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
.logo {
    text-decoration: none;
    color: #011c26;
    font-weight: bold;
    cursor: pointer;
}
 
.menu,
.menu-ícones {
    list-style: none;
    display: flex;
    gap: 5px;
}
 
.menu li a,
.menu-ícones li a {
    text-decoration: none;
    color: #011c26;
    padding: 8px;
    border-radius: 8px;
}
 
.menu li a:hover {
    transition: 0.3s;
    background-color: #011c26;
    color: white;
}
 
.menu-ícones li a:hover {
    background-color: #011c26;
    color: white;
}