@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header nav {
    background-color: #f2f2f2;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: #011c26;
    font-weight: bold;
    cursor: pointer;
}

.menu,
.menu-ícones {
    list-style: none;
    display: flex;
    gap: 5px;
}

.menu li a,
.menu-ícones li a {
    text-decoration: none;
    color: #011c26;
    padding: 8px;
    border-radius: 8px;

}

.menu li a:hover,
.menu-ícones li a:hover {
    background-color: #011c26;
    color: white;
}